MONGODB_URL=mongodb://localhost:27017/ishop
PORT=5000
JWT_SECRET=change_me
FRONTEND_URL=http://localhost:3000
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=IShop Website
Test_Key_ID=
Test_Key_Secret=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
